<!-- Le formulaire => -->

<div class="form">
  <%= form_tag(books_path, method: :post, class: "form", remote: true) do %>
    <label for="title">Title</label>
    <%= text_field_tag  :title %>

    <label for="author">author</label>
    <%= text_field_tag  :author %>

    <button type="submit" class="btn btn-primary">Submit</button>

  <% end %>
</div>