  <p>Object : <%= @email.object %></p>
  <p>Body:</p>
  <%= @email.body %></br></br>
  
<!--  https://www.rubyguides.com/2019/03/rails-ajax/ -->
 
  <%= link_to "Delete", email_path(email), { method: "delete", class: "btn btn-primary", remote: true, data: { confirm: "Are you sure?" } } %>