<%= link_to 'Recevoir un email', emails_path, method: "post", class: "btn btn_primary", remote: true %>

 <div class="container-fluid">
    <div class="email-left">La liste des emails :
      <ul id="email-list">
        <% @emails.each do |email| %>
        <% end %>
      </ul>
    </div>

    <div class="body-right">Email sélectionné
    </div>
</div>

